@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

body {
    font-family: "Open Sans", sans-serif;
    background: rgb(230, 238, 255);
    color: rgb(32, 31, 31);
}

.pad {
    margin: 5rem;
}
